.cls1 {
  fill: url(#未命名的渐变_29);
}

.cls2 {
  fill: url(#未命名的渐变_22);
}

.cls3 {
  fill: url(#未命名的渐变_38);
}

.cls4 {
  fill: url(#未命名的渐变_18);
}

.cls5 {
  font-size: 173.66px;
  font-family: SourceHanSansCN-Bold-GBpc-EUC-H, Source Han Sans CN, serif;
  letter-spacing: -0.02em;
  fill: #161616;
}

.cls6 {
  letter-spacing: 0;
}

.cls7 {
  font-size: 93.82px;
  font-family: SourceHanSansCN-Light-GBpc-EUC-H, Source Han Sans CN, serif;
  letter-spacing: 0.1em;
  fill: #757575;
}

.cls8 {
  fill: url(#未命名的渐变_18-2);
}

.cls9 {
  fill: url(#未命名的渐变_22-2);
}
